.body {
    display:flex;
    border:4px solid blue;
    height: 300px;

    background: maroon
    flex-direction: column;
        .header {
            border:3px solid purple
            height: 150px;
            .logo{
                margin-top: 20px;
            }

    }
}
.main{ 
        display:flex;
        flex-direction:row
        flex: auto;
            .article
                flex:2
                overflow-y:auto
                align-items:flex-end;
            .aside
                flex:1
                overflow-y:auto
            
}