.body {
    display:flex;
    border:4px solid blue
    height:300px
    background: maroon
    flex-direction: column;
        .header {
            .logo{
                margin-top: 20px;
            }

    }
}
.main{ 
        display:flex;
        flex-direction:row
        flex:auto
            .article
                flex:2
                overflow-y:auto
            .aside
                flex:1
                overflow-y:auto
            
}